In [23]:
import sqlite3
query = """CREATE TABLE details 
(Name VARCHAR(100), Address VARCHAR(200),City VARCHAR(100),State VARCHAR(50),zip VARCHAR(10), PhoneNo INTEGER);"""

In [24]:
con = sqlite3.connect('mydata.sqlite')

In [25]:
# Execute the table creation
con.execute(query)

In [26]:
# Commit to table
con.commit()

In [27]:
# Insert Data into table
data = [
 ('Kiran', 'Strawberry Hill', 'Stamford','Connecicut','06902', '2031234567'),
 ('Kiran', 'Strawberry Hill', 'Stamford','Connecicut','06902', '2031234568'),
 ('Maneesha', 'Strawberry Plaza', 'Stamford','Connecicut','06902', '2031234577'),
 ('Anshi', 'Strawberry Court', 'Stamford','Connecicut','06902', '2031234566'),
 ('Komati', 'Strawberry Lane', 'Stamford','Connecicut','06902', '2031234569'),
 ('Raja', 'Morgan Lane', 'Hartford','Connecicut','06902', '2031234570'),
 ('Venkat', 'Stanley Drive', 'Manchester','Connecicut','06902', '2031234669'),
 ('Selva', 'Strawberry Lane', 'Windsor','Connecicut','06902', '2031244569'),
 ('Anvi', 'Strawberry Lane', 'NY City','New York','06902', '2031634569'),
 ('Aditi', 'Strawberry Lane', 'Hartford','Connecicut','06902', '2038234569')]
stmt = "INSERT INTO details VALUES(?, ?, ?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [28]:
cursor = con.execute('select * from details')

In [29]:
rows = cursor.fetchall()
rows

[('Kiran', 'Strawberry Hill', 'Stamford', 'Connecicut', '06902', 2031234567),
 ('Kiran', 'Strawberry Hill', 'Stamford', 'Connecicut', '06902', 2031234568),
 ('Maneesha',
  'Strawberry Plaza',
  'Stamford',
  'Connecicut',
  '06902',
  2031234577),
 ('Anshi', 'Strawberry Court', 'Stamford', 'Connecicut', '06902', 2031234566),
 ('Komati', 'Strawberry Lane', 'Stamford', 'Connecicut', '06902', 2031234569),
 ('Raja', 'Morgan Lane', 'Hartford', 'Connecicut', '06902', 2031234570),
 ('Venkat', 'Stanley Drive', 'Manchester', 'Connecicut', '06902', 2031234669),
 ('Selva', 'Strawberry Lane', 'Windsor', 'Connecicut', '06902', 2031244569),
 ('Anvi', 'Strawberry Lane', 'NY City', 'New York', '06902', 2031634569),
 ('Aditi', 'Strawberry Lane', 'Hartford', 'Connecicut', '06902', 2038234569)]